<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">Sanjeev's eCommerce App </a>
    <button class="navbar-toggler" type="button" (click)=toggleNavBar() data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]= 'isOpen' id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/' routerLinkActive= 'Active' > Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= '/account' routerLinkActive= 'Active' *ngIf='isUserLoggedIn'> Account </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= '/cart'  routerLinkActive= 'Active' *ngIf='isUserLoggedIn'> Cart </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink= '/orders' routerLinkActive= 'Active' *ngIf='isUserLoggedIn'> Orders </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink= '/products' routerLinkActive= 'Active' > Products </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink= '/login' routerLinkActive= 'Active' *ngIf='!isUserLoggedIn' > Login </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink= '/signup' routerLinkActive= 'Active' *ngIf='!isUserLoggedIn' > Sign Up </a>
        </li> 
        <li class="nav-item">
            <!-- <a class="nav-link" routerLink= '/logout'  routerLinkActive= 'Active' > Logout </a> -->
            <a class="btn btn-danger" routerLinkActive= 'Active' (click)='logout()' *ngIf='isUserLoggedIn'> Logout </a>
         </li>         
      </ul>
    </div>
  </nav>
